---
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";

const projects = [
  {
    title: "ReadWave (En desarrollo)",
    description:
      "En desarrollo. Esta aplicación permitirá a los usuarios descubrir nuevos libros y autores, usando una inteligencia artificial que recomendará nuevos libros basados en los gustos del usuario. Para ello haré uso de la api de google books y google recomendations ai para ajustar los gustos. También se hará uso de Appwrite",
    framework: "Flutter",
    fecha: "2024",
    empresa: "Hyliacom",
    empresaLink: "https://hyliacom.es/",
    image: "/images/readwave.png",
    link: "https://sergioem.dev",
    skills: ["Flutter", "Dart"],
  },
  {
    title: "Red de pueblo",
    description:
      "Aplicación de escritorio para la gestión de impresoras de tickets y etiquetas. Esta aplicación se conecta al framework de EasyClient mediante websockets en un servidor de Node.js para la impresión de tickets y etiquetas enviadas directamente desde la web.",
    framework: "Flutter",
    fecha: "2024",
    empresa: "Hyliacom",
    empresaLink: "https://hyliacom.es/",
    image: "/images/redpueblo.png",
    link: "https://play.google.com/store/apps/details?id=com.hyliaapps.reddepueblo",
    skills: ["Flutter", "Dart"],
  },
  {
    title: "EasyClient: Gestión de tiendas",
    description:
      "Aplicación de escritorio para la gestión de impresoras de tickets y etiquetas. Esta aplicación se conecta al framework de EasyClient mediante websockets en un servidor de Node.js para la impresión de tickets y etiquetas enviadas directamente desde la web.",
    framework: "Flutter",
    fecha: "2024",
    empresa: "Hyliacom",
    empresaLink: "https://hyliacom.es/",
    image: "/images/easyclient.png",
    link: "https://play.google.com/store/apps/details?id=com.hyliaapps.tiendaseasyclient",
    skills: ["Flutter", "Dart"],
  },
  {
    title: "EasyClient POS (En desarrollo)",
    description:
      "Aplicación de escritorio para la gestión de impresoras de tickets y etiquetas. Esta aplicación se conecta al framework de EasyClient mediante websockets en un servidor de Node.js para la impresión de tickets y etiquetas enviadas directamente desde la web.",
    framework: "Flutter",
    fecha: "2024",
    empresa: "Hyliacom",
    empresaLink: "https://hyliacom.es/",
    image: "/images/easyclient.png",
    skills: ["Flutter", "Dart"],
  },
  {
    title: "CRM Cafés Lúa",
    description:
      "Proyecto desarrollado para la empresa gallega Cafés Lúa. Se trata de un CRM para la gestión de citas y rutas de los comerciales y repartidores.",
    framework: "Flutter",
    fecha: "2023",
    empresa: "Hyliacom",
    empresaLink: "https://hyliacom.es/",
    image: "/images/lua.png",
    arrayImagenes: ["/images/lua/1.webp", "/images/lua/2.webp"],
    link: "https://play.google.com/store/apps/details?id=com.hyliaapps.cafeslua",
    skills: ["Flutter", "Dart"],
  },

  {
    title: "Maat Mirror",
    description:
      "Prototipo para ópticas que permite a los clientes probarse las gafas sin necesidad de hacerlo físicamente. Se usan tecnologias como Mlkit para el reconocimiento facial y DeepAR para el renderizado de las gafas.",
    framework: "Flutter",
    fecha: "2023",
    empresa: "Hyliacom",
    empresaLink: "https://hyliacom.es/",
    image: "/images/maatmirror.png",
    arrayImagenes: ["/images/valenciaultramar.png", "/images/lua.png"],
    link: "https://play.google.com/store/apps/details?id=com.hyliaapps.maatmirror",
    skills: ["Flutter", "Dart"],
  },
  {
    title: "Ana Simó Valencia Ultramar",
    description:
      "Pasteleria en Ferrol (A Coruña) con más de 50 años de experiencia. En esta app se puede ver el catalogo de productos con un diseño adaptado a tablets y móviles.",
    framework: "Flutter",
    fecha: "2023",
    empresa: "Hyliacom",
    empresaLink: "https://hyliacom.es/",
    image: "/images/valenciaultramar.png",
    link: "https://play.google.com/store/apps/details?id=com.hyliaapps.valenciaultramar",
    skills: ["Flutter", "Dart"],
  },
];
---

<Layout title="Sergio Expósito Martínez | Proyectos">
  <section
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-6 fade-in"
    transition:animate={fade({ duration: "0.3s" })}
  >
    {
      projects.map((project) => (
        <div class="relative group animate-fade-in">
          <div class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur opacity-0 group-hover:opacity-100 transition-all duration-700 ease-in-out animate-gradient" />
          <a
            href={project.link}
            target="_blank"
            class="relative block bg-black rounded-lg overflow-hidden"
          >
            <img
              src={project.image}
              alt={project.title}
              class="object-cover w-full h-64 transition-transform duration-500 group-hover:scale-110 group-hover:blur-sm"
            />
            <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-500" />
            <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 transition-opacity duration-500" />
            <div class="absolute bottom-0 p-4 text-white opacity-0 group-hover:opacity-100 transition-opacity duration-500">
              <h3 class="text-lg font-bold">{project.title}</h3>
              <p class="text-sm">
                {project.framework} - {project.fecha}
              </p>
              <p class="text-sm">{project.description}</p>
            </div>
          </a>
        </div>
      ))
    }
  </section>
</Layout>

<style>
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.6s ease-out forwards;
    opacity: 0;
  }
</style>
